.main-container {
  width: 100%;

  .main-container-slide-img {
    width: 100%;
  }
  .main-section {
    padding: 45px;
  }
  .main-banner {
    background-color: #fff;
  }
  .Magazine-background {
    background-color: #efecec;
  }
}
