.login-id,
.login-pw {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  width: 450px;
  height: 50px;
  border: 1px solid #d0d0d0;
  align-items: center;
}

.id-icon {
  margin: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.pw-icon {
  margin: 10px;
  width: 34px;
  height: 34px;
  opacity: 0.5;
}

.login-id-input,
.login-pw-input {
  width: 380px;
  height: 40px;
  border: none;
  outline: none;
  font-size: large;
}