.Cart-product-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  .Cart-product-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #353535;
    input {
      width: 3%;
    }
    .img {
      width: 10%;
      text-align: center;
    }
    .product {
      width: 40%;
    }
    .price {
      width: 7%;
    }
    .common {
      width: 6%;
    }
    .choice {
      padding-left: 20px;
    }
  }
  .empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: 20px;
    color: #707070;
  }
}
