.arrows{
  .prev, .next{
    cursor: pointer;
    width: 80px;
    z-index: 100;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 100px;
    font-weight: bold;
    .icon-style{
      width: 80px;
    }
  }
  
  .prev:hover, .next:hover{
    transition: all 0.3s ease-in;
  } 
  
  .next {
    right: 0;
  }
}