.active{
  display: inline-block;
}

.inactive{
  display: none;
}

.slides{
  height: var(--heights);
  width: var(--widths);
  position: relative; 
}

.slide-img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-title,
.slide-text{
  width: 100%;
  height: 100%;
  color: rgba($color: #d5002e, $alpha: 0.6);
  font-size: 80px;
  position: absolute;
  text-align: center;
  top: 35%;
  z-index: 10;
}

.slide-text{
  width: 600px;
  top: 50%; left: 33%;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgba($color: #222, $alpha: 0.6);
}
