@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  margin-top: 20px;
  padding-top: 30px;
  width: 450px;
  border: 1px solid #d0d0d0;
  font-size: small;
  text-align: center;
  color: #777;
  opacity: 0.9;

  .signup-btn-box {
    margin: 30px auto;
    width: 200px;
    height: 60px;
    border: 2px solid black;
    background-color: white;

    .go-to-signup {
      @include center;
      width: 100%;
      height: 100%;
      color: black;
      font-size: large;
      font-weight: 600;
      text-decoration: none;
    }
  }
}