.pagination {
  display: flex;
  justify-content: center;
}

.page-item:hover,
.next-button:hover,
.previous-button:hover {
  background-color: rgb(220, 220, 220, 0.3);
}
.page-link,
.next-button,
.previous-button {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  float: left;
  border: 1px solid #ddd;
}

.active-button {
  border-bottom: 2px solid black;
}
