.category-container {
  margin-top: 5%;
  margin-bottom: 5%;
  h2 {
    text-align: center;
    font-size: x-large;
    margin: 0 0 30px;
    padding: 0 0 18px;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
  }
  li {
    border: 0.5px solid gainsboro;
    padding: 7.5px 15px;

    animation: fadein 1.5s;

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    &:hover {
      color: white;
      background-color: black;

      button {
        color: white;
        background-color: black;
      }
    }
    &:not(:last-child) {
      margin-right: 5px;
    }

    button {
      border: none;
      background-color: white;
    }
  }
  a {
    font-size: 12px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }
}
