.bottom-container{
  position: relative;
  padding: 10%;
  margin: 0 auto;
  padding: 5%;
  .bottom-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
    // border-bottom: 1px solid #ececec;
    
    li{
      width: 100%; height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(3){
        border-left: 0px;
      }
    }
    .border{
      border: 1px solid #333;
    }
    .border-bottom{
      margin-bottom: 30px;
      border-bottom: 1px solid #333;
    }

  }
  .modal-container{
    margin: 0 auto;
    margin-bottom: 20px;
    // background-color: aquamarine;
    text-align: center;
    border-top:1px solid #333 ;
  }
}