.sub-nav {
  position: absolute;
  top: 10%;
  display: flex;
  .sub-menu {
    width: 100px;
    margin-left: 5%;
    li {
      color: #999;
      font-size: 13px;
      font-weight: 500;
      line-height: 28px;

      &:hover {
        color: #222;
      }
    }
  }
  .sub-menu-img {
    margin-left: 5%;
    img {
      width: 300px;
      height: 300px;
    }
  }
}
