.search-product-list {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .product-title {
    font-size: 14px;
  }
  .product-price {
    width: 80%;
    font-size: 15px;
    border-top: 0.5px solid gainsboro;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
  }
}
