.search-wrap {
  position: relative;
  overflow: hidden;
  clear: both;
  margin: 80px 5% 20px;

  .search-container {
    min-width: 1150px;
    margin: 0 auto 0;
    position: relative;
  }

  .search-title-box {
    min-height: 30px;
    padding: 0 0 34px;
    text-align: center;

    .search-title {
      font-size: 26px;
      letter-spacing: 0.08em;
      font-weight: normal;
    }
  }
}