.footer-container {
  width: 100%;
  margin: 100px auto;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  .footer-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
    .footer-box{
      padding: 50px;
      dl{
        dt{
          margin-bottom: 30px;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.3em;
        }
        dd{
          font-size: 13px;
          color: #666666;
          line-height: 22px;
          .info-title{
            padding-right: 6px;
          }
        }
        .numder{
          font-size: 32px;
          font-weight: 700;
          color: #222;
          margin-bottom: 30px;
          small{
            font-size: 13px;
            font-weight: 400;
            color: #000;
          }
        }
      }
      
      }
  }
}
