  @mixin btnStyle {
    margin-left: 10px;
    padding: 4px 4px 5px 4px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    background-color: #f5f5f5;
    font-weight: 400;
    font-size: 70%;
  }

  @mixin inputStyle {
    width: 215px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    line-height: 30px;
  }

  .signup-id,
  .signup-pw,
  .signup-name,
  .signup-email {
    margin-bottom: 30px;
  }

  .signup-phone {
    display: inline-block;
    margin-bottom: 10px;
  }

  .message-box {
    margin-left: 5px;
    font-size: smaller;
  }

  .id-terms {
    margin-left: 5px;
    font-size: small;
  }

  .pw-terms {
    margin-left: 10px;
    font-size: small;
  }

  input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .join-id-input,
  .join-pw-input,
  .join-name-input,
  .join-email-input,
  .join-phone-input {
    @include inputStyle;
  }



  .id-duplication,
  .join-phone-certify {
    @include btnStyle;
  }