.section1 {
  height: 220px;
  .main-section-container1 {
    width: 1000px;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .main-section-list1 {
      width: 100px;
      text-align: center;
      img {
        width: 70px;
        height: 70px;
        &:hover {
          width: 75px;
          height: 75px;
        }
      }
      .text1 {
        font-size: 10px;
        color: #999;
      }
      .text2 {
        font-size: 14px;
        font-weight: 444;
        color: #444;
      }
    }
  }
}
