.mySwiper {
  .swiper-button-prev {
    &::after {
      color: #000;
    }
  }
  .swiper-button-next {
    &::after {
      color: #000;
    }
  }

  .img1 {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
    margin: 0px auto;
  }
}
