$h: 350px;
.banner1-container {
  height: $h;
  background: #f9f9f9;
  .banner1-inner {
    height: $h;
    display: flex;
    padding-left: 80px;
    // margin: 0 auto;
    .video {
      iframe {
        width: 630px;
        height: $h;
      }
    }
    .list {
      padding: 37px 0 20px 47px;
      .list-title {
        img {
        }
      }
      .list-img-container {
        display: flex;
        justify-content: space-around;
        .list-img {
          display: flex;
          flex-direction: column;
          img {
            width: 120px;
            height: 120px;
          }
          .list-title-container {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            text-align: center;
            .list-img-title {
              font-size: 11px;
              color: #777;
              padding-bottom: 20px;
              // letter-spacing: -0.06em;
            }
            .list-price {
              font-size: 11px;
              font-weight: 700;
              color: #222;
            }
          }
        }
      }
    }
  }
}
