  @mixin btnStyle {
    margin-left: 10px;
    padding: 4px 4px 5px 4px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    background-color: #f5f5f5;
    font-weight: 400;
    font-size: 70%;
  }

  .signup-id,
  .signup-pw,
  .signup-name,
  .signup-phone,
  .signup-email {
    margin-bottom: 30px;
  }

  .id-terms,
  .pw-terms {
    margin-left: 10px;
    font-size: small;
  }

  .join-phone-input {
    width: 60px;
    height: 40px;
  }

  .join-id-input,
  .join-pw-input,
  .join-name-input,
  .join-email-input {
    width: 215px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    line-height: 30px;
  }

  .join-phone-input {
    height: 30px;
    padding-left: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    line-height: 30px;
  }

  .id-duplication,
  .join-phone-certify {
    @include btnStyle;
  }