.terms-wrap {
  padding-right: 50px;

  .whole-agreement {
    padding: 80px 0 10px;
    font-size: 26px;
    font-weight: normal;
  }

  .whole-agreement-box {
    padding: 15px;
    border: 1px solid #d0d0d0;
    background-color: #F6F8FA;
  }

  .agreement-box {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #d0d0d0;

    .agreement-contents-box {
      height: 110px;
      padding: 20px;
      margin: 10px 0;
      overflow: auto;
      font-size: smaller;
      border: 1px solid #d0d0d0;
      background: #fff;
    }
  }
}